    body {
      margin: 0;
      height: 100vh;
      background-color: #f8c8dc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Times New Roman", Times, serif;
    }

    .message-box {
      background-color: #1b4d3e;
      padding: 40px 60px;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
      text-align: center;
      color: #fff;
    }

    .message-box h1 {
      color: #d2b48c;
      margin-bottom: 10px;
      font-size: 2.5rem;
    }

    .message-box p {
      color:white;
      font-size: 1.2rem;
    }
    .white-rabbit{
        width: 30px;
        height: 40px;
        border-radius: 50%;
        pointer-events: none;
        background-color: white;
        z-index: 1000;
        position: absolute;
    }